<div class = "row">
	<h2>Adauga un student nou:</h2>
	<div class = "col-md-6"		
	<form>
		<input class="form-control" placeholder="Nume" type="text" ng-model="first_name"/>
		<input class="form-control" placeholder="Prenume" type="text" ng-model="last_name"/>
		<input class="form-control" placeholder="Clasa" type="text" ng-model="clasa"/>
		<input class="form-control" placeholder="Data nasteri" type="text" ng-model="data_nasteri"/>
		<input class="form-control" placeholder="Adresa" type="text" ng-model="adresa"/>
		<input class="form-control" placeholder="Alte informati" type="text" ng-model="alte_informati"/> 
	</form>
	<button class="btn btn-default" type = "button" ng-click= "adauga_student()">Adauga</button>{{valid_add_student}}
</div>

<script src="/js/catalog.js"></script>