<!DOCTYPE html>
<HTML>
   <HEAD>
      <TITLE>
         Clase
      </TITLE>
   </HEAD>	
<BODY style="position:reative; min-height: 100%; top: 0px;">

	<p>Pentru a reveni la pagina principala:
	<a href = "index.html"> Main Page </a>
	<table border=5 style= "width:50%">
	
  	<tr>
    	<th>Clasa</th>
   	<th>Nr elevi</th>
	<th>Diriginte</th>
	<th>Telefon diriginte</th>	
	</tr>
	
	<tr>
	<th> <a href = "clasa.html"> 12-A </a> </th>
	<th>30</th>
	<th> Chitul Daniela </th>
	<th> 074........</th>
	
	</tr>
	<tr>
	<th> ...</th>
	<th> ...</th>
	<th> ...</th>
	<th> ...</th>
	</tr>

</BODY>
</HTML>