<!DOCTYPE html>
<HTML>
   <HEAD>
      <TITLE>
         Elev
      </TITLE>
   </HEAD>	
<BODY style="position:reative; min-height: 100%; top: 0px;">

	<p>Pentru a reveni la pagina principala:
	<a href = "index.html"> Main Page </a>
	<ul>
	<h3> Nume: </h3>
	<h3> Prenume: </h3>
	<h3> Telefon: </h3>
	<h3> Clasa: <h3>
	<h3> Adresa: </h3>
	</ul>

	<table border=5 style= "width:40%">
	Total absente nemotivate: 1
	Total absente motivate: 1
	Total absente: 0
  	<tr>
    <th>Materia</th>
   	<th>Absente</th>
	<th>Note</th>	
	</tr>
	
	<tr>
	<th>Matematica </th>
	<th>10(20/4/2014)<br> 5(10/5/2014)<br> ... <br> </th>
	<th>10/4/2014<br>  23/5/2014<br> ...<br> </th>
	</tr>

	<tr>
	<th>Teza</th>
	<th> - </th>
	<th>10(25/11/2014)</th>
	</tr>
	<br>


	<table border=5 style= "width:40%">	
	Total absente nemotivate: 2
  	Total absente motivate: 0
	Tatal absente: 2
	<tr>
   	<th>Materia</th>
   	<th>Materia</th>
	<th>Note</th>	
	</tr>
	
	<tr>
	<th>Informatica</th>
	<th>8(17/4/2014)<br> 9(25/5/2014)<br> ... <br> </th>
	<th>11/4/2014(M)<br>  27/5/2014<br> ...<br> </th>
	</tr>

	<tr>
	<th>Teza</th>
	<th> - </th>
	<th>10(25/11/2014)</th>
	</tr>
	<br>
</BODY>
</HTML>