<!DOCTYPE html>
<html>
<head>
<script>
function add2Numbers() {
    var x, y, z;
    x = document.getElementById("numb1").value;
    y = document.getElementById("numb2").value;
    x = Number(x);
    y = Number(y);
    z = x+y;
    print = "Suma celor 2 numere este: " + z;
    document.getElementById("demo").innerHTML = print;
}

function login(){
	var user;
	var password;
    var result;
	name = document.getElementById("username").value;
	password = document.getElementById("password").value;
    teacher = document.getElementById("teacher").value;
    student = document.getElementById("student").value;
    // document.getElementById("demo").innerHTML = teacher
    //if (teacher!= 'off' && student!= 'off'){
    //    document.getElementById("demo").innerHTML = "NU"
    //}else {
     //   document.getElementById("demo").innerHTML = "DA"
   // }

	//if (name == "admin" && password == "admin"){
    //    window.open('clase.html')
        //document.getElementById("demo").innerHTML = "OK";
    //} else {
    //    document.getElementById("demo").innerHTML = "ERROR LOGIN";
    //} 
}
</script>
</head>

<body>

<h1>My Web Page</h1>
<form>
<center>
    USERNAME: <input id= "username" type = "text"> <br>
    PASSWORD: <input id= "password" type = "text"> <br>
    <input name = "teacher" type="radio" value = "1">Teacher
    <input name = "student" type="radio" value = "2">Student<br>
    <button type = "submit" onclick="login()">Login</button> <br>
    <p id="demo"></p>
</center>
</form>
<input id="numb1" type="number" > <br>
<input id="numb2" type="number"> <br>
<button type="button" onclick="add2Numbers()">Suma</button>

<a href="clase.html"> Class Page </a>
</body>
</html>

<a href="clase.html"> Class Page </a>
<!--
method = "post"
{% if name %}
    <h1>Hello {{ name }}!</h1>
{% else %}
    <h1>Hello World!</h1>
{% endif %}
-->