<!doctype html>
<html lang="en" ng-app="catalogApp">
<head>
	<meta charset="utf-8">
	<title>My HTML File</title>
</head>
<body ng-controller="StudentListController">

	<table border=5 style= "width:40%">
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Clasa</th>
				<th>Data nasteri</th>
				<th>Adresa</th>
				<th>Alte informati</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="student in students">
				<td>{{student.first_name}}</td>
				<td>{{student.last_name}}</td>
				<td>{{student.clasa}}</td>
				<td>{{student.data_nasteri}}</td>
				<td>{{student.adresa}}</td>
				<td>{{student.alte_informati}}</td>
			</tr>
		</tbody>
	</table>


	Care elev doriti sa-l afisati: <input type="number" ng-model="idStud"/>
	<button type= "button" ng-click="give_stud()" >PrintStud</button> <br>

	{{studentId.first_name}}
	{{studentId.last_name}}
	{{studentId.clasa}}
	{{studentId.data_nasteri}}
	{{studentId.adresa}}
	{{studentId.alte_informati}}
	{{studentId.Id}}

	<!--{{aux}}
	<br />
	<input type="text" ng-model="aux"/>

	{{last_name}}
	{{first_name}}
	<br>
	<input type="text" ng-model="last_name"/>
	<input type="text" ng-model="first_name"/>
	<button type="button" onclick=("")>Add student</button>
	-->

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-resource.js"></script>
	<script src="/js/catalog.js"></script>
</body>
</html>