<!doctype html>
<html lang="en" ng-app="catalogApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>My HTML File</title>
	<link rel="stylesheet" href="/css/catalog.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body ng-controller="StudentListController";>

	<div class="container">
		<div class = "row">
			<div class="col-md-12">
				<table class = "table">
					<caption><h2>Tabelul care contine elevii si detaliile acestora</h2></caption>
					<thead>
						<tr>
							<th>First name</th>
							<th>Last name</th>
							<th>Clasa</th>
							<th>Data nasteri</th>
							<th>Adresa</th>
							<th>Alte informati</th>
							<th>Note</th>
							<th>Absente</th>
							<th>ID</th>
							<th>Optiuni</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in students">
							<td>{{student.first_name}}</td>
							<td>{{student.last_name}}</td>
							<td>{{student.clasa}}</td>
							<td>{{student.data_nasteri}}</td>
							<td>{{student.adresa}}</td>
							<td>{{student.alte_informati}}</td>
							<td>{{student.note}}</td>
							<td>{{student.absente}}</td>
							<td>{{student._id.$oid}}</td>
							<td>
								<button class="btn btn-default" type = "button" ng-click = "give_stud(student._id.$oid)"/>PrintStud</button>
								<button class="btn btn-default" type = "button" ng-click = "delete_student_id(student._id.$oid)"/>Delete</button>
								<button class="btn btn-default" type = "button" ng-click = "afisare_note_by_id(student._id.$oid)"/>Note</button>
								<button class="btn btn-default" type = "button" ng-click = "afisare_absente_by_id(student._id.$oid)"/>Absente</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class = "row">
			<h3>
				{{studentId.first_name}}
				{{studentId.last_name}}
				{{studentId.clasa}}
				{{studentId.data_nasteri}}
				{{studentId.adresa}}
				{{studentId.alte_informati}}
				{{studentId.note}}
				{{studentId.absente}}
				{{studentId.Id}}<br>
				
				{{array_note_msg}} <a ng-repeat = "nota in array_note track by $index"> {{nota}}</a><br>
				{{array_absente_msg}} <a ng-repeat = "absenta in array_absente track by $index"> {{absenta}}</a>
			</h3>
		</div>

		<div class = "row">

			<h4>Adaugare la: {{studentId.first_name}} {{studentId.last_name}}</h4>
			<form class="form-inline" role="form">
				<div class="col-md-4">
					<input class="form-control" placeholder="Nota" type="text" ng-model="nota"/>
					<button class="btn btn-default" type = "button" ng-click = "add_nota(nota)"/>Adauga</button>
					<h4 style = "color: red;">{{validate_nota}}</h4><br>

				</div>

				<input class="form-control" placeholder="Absenta" type="text" ng-model="absenta"/>
				<button class="btn btn-default" type = "button" ng-click = "add_absenta(absenta)"/>Adauga</button>
				<h4 style = "color: red;">{{validate_absenta}}</h4><br>
			</form>
		</div>


		<div class = "row">
			<h2>Adauga un student nou:</h2>
			<div class = "col-md-6"		
			<form>
				<input class="form-control" placeholder="Nume" type="text" ng-model="first_name"/>
				<input class="form-control" placeholder="Prenume" type="text" ng-model="last_name"/>
				<input class="form-control" placeholder="Clasa" type="text" ng-model="clasa"/>
				<input class="form-control" placeholder="Data nasteri" type="text" ng-model="data_nasteri"/>
				<input class="form-control" placeholder="Adresa" type="text" ng-model="adresa"/>
				<input class="form-control" placeholder="Alte informati" type="text" ng-model="alte_informati"/> 
			</form>
			<button class="btn btn-default" type = "button" ng-click= "adauga_student()">Adauga</button>{{valid_add_student}}
		</div>
	</div>

	<div class = "row">
		<form>
			<br>
			<h2>Modifica un student:</h2>
			<div class = "col-md-6"
			<input class="form-control" placeholder="Nume" type="text" ng-model="first_name_mod"/>
			<input class="form-control" placeholder="Prenume" type="text" ng-model="last_name_mod"/>
			<input class="form-control" placeholder="Clasa" type="text" ng-model="clasa_mod"/>
			<input class="form-control" placeholder="Data nasteri" type="text" ng-model="data_nasteri_mod"/>
			<input class="form-control" placeholder="Adresa" type="text" ng-model="adresa_mod"/>
			<input class="form-control" placeholder="Alte informati" type="text" ng-model="alte_informati_mod"/>
			<button class="btn btn-default" type="button" ng-click="modifica_student()">Save</button>{{valid_add_student}}
		</form>
	</div>
</div>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-resource.js"></script>
<script src="/js/catalog.js"></script>

</body>
</html>