<!DOCTYPE html>
<HTML>
   <HEAD>
      <TITLE>
         Episode 2
      </TITLE>
   </HEAD>	
<BODY style="position:reative; min-height: 100%; top: 0px;">

	<p>Pentru a reveni la pagina principala:
	<a href = "index.html"> Main Page </a>
	<table border=5 style= "width:50%">
	
  	<tr>
    	<th>Nume elev</th>
   	<th>Clasa</th>
	<th>Telefon</th>	
	</tr>
	
	<tr>
	<th><a href="elev.html"> Muresan Ionut-Catalin</a> </th>
	<th><a href="clasa.html"> 12-A </a> </th>
	<th> 0758465446</th>
	</tr>
	<tr>
	<th> ...</th>
	<th> ...</th>
	<th> ...</th>
	</tr>

</BODY>
</HTML>